@model DataTable
@using System.Data


@* <main id="main" class="main"> *@

@* <form method="post" asp-controller="City" asp-action="CityDelete"> *@
@*     <input type="hidden" name="CityID" value="@dataRow["CityID"]" /> *@
@*     <button type="submit" class="btn btn-outline-danger btn-xs"> *@
@*         <i class="bi bi-x"></i> *@
@*     </button> *@
@* </form> *@
@* </main> *@